GITHUB_REPO_URL=https://github.com/AJBarnes20/School_Clearance.git
GITHUB_TOKEN=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=schoolclearance_db
DB_USER=schoolclearance
DB_PASSWORD=#Cle@rance07!
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=onlineclearancectug@gmail.com
SMTP_PASS=rfvz ollg xhyf xvki
APP_PORT=8086
